[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.cart_host', region='us-east-1') }} # endpoint
Environment=CART_PORT={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.cart_port', region='us-east-1') }}
Environment=USER_HOST={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.user_host', region='us-east-1') }}  # endpoint
Environment=USER_PORT={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.user_port', region='us-east-1') }}
Environment=AMQP_HOST={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.amqp_host', region='us-east-1') }}
Environment=AMQP_USER={{ lookup('amazon.aws.aws_ssm', '{{env}}.rabbitmq.amqp_user', region='us-east-1') }}
Environment=AMQP_PASS={{ lookup('amazon.aws.aws_ssm', '{{env}}.rabbitmq.amqp_pass', region='us-east-1') }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target





























[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=<CART-SERVER-IPADDRESS>
Environment=CART_PORT=8080
Environment=USER_HOST=<USER-SERVER-IPADDRESS>
Environment=USER_PORT=8080
Environment=AMQP_HOST=<RABBITMQ-SERVER-IPADDRESS>
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS={{root_rabbitmq_password}}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target