

[Unit]
Description = Cart Service
[Service]
User=roboshop

#1
Environment=REDIS_HOST={{ lookup('amazon.aws.aws_ssm', '{{env}}.elasticache.endpoint', region='us-east-1') }}  # end_point

#2
Environment=CATALOGUE_HOST={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.catalogue_host', region='us-east-1') }}

#3
# on the parameters side, modify catalogue_port to 80
Environment=CATALOGUE_PORT={{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.catalogue_port', region='us-east-1') }}

ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
























[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.nellore.online
Environment=CATALOGUE_HOST=catalogue-dev.nellore.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart


[Install]
WantedBy=multi-user.target
